Repository rwmsousa/boilerplate-nextjs-tailwind: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

docs: add README.md with project overview, setup instructions
  README.md
Due: prettier --write

fix: restore eslint configuration
  .eslintrc.js
Due: eslint --fix

fix: ignore additional files in eslint config
  .eslintrc.js
Due: eslint --fix

chore: update TypeScript configuration to include additional files for better project integration
  tsconfig.json
Due: prettier --write

chore: update Babel configuration for Next.js integration and clean up Jest settings
  .babelrc
  .babelrc.js.backup
  jest.config.js
  next.config.js
Due: eslint --fix

chore: update TypeScript configuration and add initial AppModule for NestJS integration
  src/app.module.ts
  src/server/serverless.ts
  tsconfig.serverless.json
Due: eslint --fix, prettier --write

chore: refactor project configuration NestJS and Next.js integration, update Babel and serverless
  .babelrc
  .husky/pre-commit
  jest.config.js
  jest.setup.js
  next.config.js
  package.json
  server-handler.js
  serverless.yml
  src/app.module.ts
  src/pages/_app.tsx
  src/server/serverless.ts
  tsconfig.json
  tsconfig.server.json
  vercel.json
Due: eslint --fix, prettier --write

chore: update serverless configuration and TypeScript settings for improved AWS Lambda integration
  serverless.yml
  src/server/serverless.ts
  src/types/serverless-http.d.ts
  tsconfig.serverless.json
Due: eslint --fix, prettier --write

chore: enhance Babel and Jest configurations, update package dependencies for improved compatibility
  .babelrc
  .gitignore
  jest.config.js
  package-lock.json
  package.json
  src/tests/pages/index.test.tsx
  src/tests/setupTests.js
Due: eslint --fix, prettier --write

chore: update package dependencies and server configuration for NestJS and Express integration
  package-lock.json
  package.json
  server-handler.js
  src/server/serverless.ts
Due: eslint --fix, prettier --write

chore: enhance linting and formatting setup with lint-staged and stylelint integration
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.json
Due: prettier --write

chore: update README to enhance project documentation and structure
  README.md
Due: prettier --write

chore: update Next.js configuration and TypeScript version for improved build output
  next.config.js
  package.json
Due: eslint --fix, prettier --write

chore: refine Next.js and Vercel configuration for improved build process and output management
  next.config.js
  vercel.json
Due: eslint --fix, prettier --write

chore: enhance serverless setup and build process for improved AWS Lambda integration
  package.json
  src/server/serverless.ts
  vercel.json
Due: eslint --fix, prettier --write

chore: update TypeScript configuration, refine serverless routing
  src/app.module.ts
  src/server/app.controller.ts
  src/server/serverless.ts
  tsconfig.serverless.json
  vercel.json
Due: eslint --fix, prettier --write

chore: update package dependencies and serverless configuration for Vercel integration
  .eslintignore
  api/hello.ts
  api/nestjs.ts
  package-lock.json
  package.json
  src/server/app.controller.ts
  tsconfig.json
  vercel.json
Due: eslint --fix, prettier --write

chore: update Next.js configuration, refine serverless setup, and upgrade package dependencies
  next.config.js
  package.json
  server-handler.js
  vercel.json
Due: eslint --fix, prettier --write

feat: implement API call in Home component and update server response message
  src/pages/index.tsx
  src/server/app.controller.ts
Due: eslint --fix

chore: remove deprecated serverless and NestJS files to streamline project structure
  api/hello.ts
  api/nestjs.ts
  handler.js
  server-handler.js
  serverless.yml
  src/app.module.ts
  src/server/app.controller.ts
  src/server/app.module.ts
  src/server/app.service.ts
  src/server/main.ts
  src/server/serverless-simple.ts
  src/server/serverless.ts
  src/types/serverless-http.d.ts
Due: eslint --fix

chore: update configuration files to streamline project structure and improve module resolution
  next.config.js
  tsconfig.json
  vite.config.ts
Due: eslint --fix, prettier --write

chore: update package.json and README for new Tailwind CSS template structure and features
  README.md
  package.json
Due: prettier --write

feat: add Button and Layout components, enhance Home page with counter functionality
  src/components/Button.tsx
  src/components/Layout.tsx
  src/pages/index.tsx
  src/tests/pages/index.test.tsx
Due: eslint --fix

chore: remove tsconfig.server.json and tsconfig.serverless.json to simplify project configuration
  tsconfig.server.json
  tsconfig.serverless.json
Due: prettier --write

chore: remove Babel and Jest configuration files to simplify project setup
  .babelrc
  babel.config.js
  jest.config.js
  jest.setup.js
  package-lock.json
  src/tests/pages/index.test.tsx
  src/tests/setupTests.js
Due: eslint --fix, prettier --write

chore: update ESLint and lint-staged configurations, enhance Next.js setup, and modify package dependencies
  .eslintrc.js
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  README.md
  commitlint.config.js
  next.config.js
  package.json
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: update Next.js configuration, modify PostCSS plugin name, and change TypeScript module setting
  next.config.js
  postcss.config.js
  tsconfig.json
Due: eslint --fix, prettier --write

chore: remove Babel configuration backup, update ESLint and package dependencies including Vite
  .babelrc.js.backup
  package.json
  yarn.lock
Due: prettier --write

feat: add Docker support with multi-stage build and Makefile for simplified commands
  Dockerfile
  Makefile
  README.md
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{css,scss}) or (any of: *.{json,md})
